.App {
  font-family: 'Original Surfer', cursive;
  text-align: center;
  color: rgb(3, 21, 180);
  padding: 10px;
  overflow: hidden;
  max-width: 950px;
  margin: 0 auto;
}
section {
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(9, 19, 44, 0.5);
  padding: 20px 30px;
  margin: 10px;
  background-color: rgb(168, 214, 245);
}
.App h1 {
  margin-bottom: 20px;
  font-size: 40px;
}
.App .fa-laugh-beam{
  color: yellow;
  background-color: orange;
  border-radius: 50px;
}
.App .fa-laugh-beam.left{
  transform: rotate(-45deg);
}
.App .fa-laugh-beam.right{
  transform: rotate(45deg);
}
.App p {
  font-size: 30px;
}
.App form {
  margin: 5px;
}
.App input {
  font-size: 20px;
  color: rgb(3, 21, 180);
  padding: 7px 15px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid rgb(3, 21, 180);
  background-color: rgb(168, 214, 245);
  box-shadow: 1px 1px 1px rgba(9, 19, 44, 0.5);
}
.App button {
  font-size: 20px;
  padding: 7px;
  border-radius: 50px;
  border: 1px solid rgb(3, 21, 180);
  color: rgb(3, 21, 180);
  font-weight: bold;
  background-color: rgb(138, 202, 245);
  margin: 5px;
  box-shadow: 1px 1px 1px rgba(9, 19, 44, 0.5);
  transition: all 150ms ease-in-out;
}
.App button:hover {
  color: rgb(138, 202, 245);
  background-color: rgb(3, 21, 180);
}
.App footer {
  color: rgb(5, 112, 184);
  font-size: 20px;
  margin-top: 10px;
}
.App a {
  text-decoration: none;
  color: rgba(3, 21, 180, 0.7);
}
.App a:hover {
  text-decoration: underline;
}
