.Results {
  text-align: left;
  padding: 10px 20px;
}
.Results h2 {
  text-transform: capitalize;
  margin-left: 10px;
  font-size: 40px;
}
.Results .phonetics-section {
  border: 1px solid rgb(63, 114, 252);
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(9, 19, 44, 0.5);
  padding: 20px 30px;
  margin: 10px;
  background-color: rgb(168, 214, 245);
}
